# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
*.egg-info/
dist/
build/

# Flask & Python-related
instance/
*.db
*.sqlite3
*.log

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/

# MyPy
.mypy_cache/

# PyCharm
*.iml
*.ipr
*.iws
.idea/

# macOS
.DS_Store

# System files
Thumbs.db
ehthumbs.db
